*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol{
    list-style: none;
}

header {
	max-width: 1800px;
	height: 500px;
	background-image: url(../img/Sky-header.jpeg);
	background-size: 1800px;
}

.sun {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 120px;
    height: 120px;
    animation:spin 4s linear infinite;
}
@keyframes spin { 
    100% {transform: rotate(360deg); } 
}

.parachute {
	width: 100px;
    left: -10%;
	bottom: 100%;
    padding: 30px;
	position: absolute;
	animation-name: parachute;
	animation-duration: 20s;
	animation-delay: 3.0s;
	animation-iteration-count: 2;
}
@keyframes parachute {
	100%{
        transform: translate(1550px);
    }
    from {
		bottom: 20%;
		left: -10%;
	}
}


.road{
	display: relative;
	max-width: 1800px;
	height: 400px;
	background-image: url(../img/road-footer.jpg);
	background-size: 1800px;
}

.l-car {
	width: 20%;
	left: 0%;
	margin-top: 5%;
	position: absolute;
	animation-name: lcar;
	animation-duration: 10s;
	animation-delay: 1.5s;
	animation-iteration-count: 3;
}
@keyframes lcar {
	100%{
        transform: translate(1000%);
    }

}

.r-car {
	width: 20%;
	right: 0%;
	position: absolute;
	animation-name: rcar;
	animation-duration: 10s;
	animation-delay: 0.5s;
	animation-iteration-count: 2;
}
@keyframes rcar {
	100%{
        transform: translate(-1000%);
    }

}


